!!!
%html
  %head
    %title Software Next Door Blog Admin
    = javascript_include_tag :all
    = stylesheet_link_tag  "http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css"
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = csrf_meta_tag
  %body.bp
    .container
      .header.row
        .span16
          Software Next Door
      = yield
