<!DOCTYPE html>
<html>
<head>
  <title>SNDBlog</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
    <% flash.each do |key, value| %>
    <div class="alert-message block-message <%= key %>"><%= value.html_safe %></div>
    
    <% end %>
    <%= yield %>
</body>
</html>
